{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "**/*.js",
    "**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts",
    ".eslintrc.js",
    "mongo-init.js",
    "src/application.ts",
    "src/index.ts",
    "src/migrate.ts",
    "src/openapi-spec.ts",
    "src/datasources/mongodb.configuration.ts",
    "src/__tests__/**"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}